.Rating {
  position: relative;
  display: inline-block;
  &__under {
    vertical-align: top;
  }
  &__under &__star {
    color: #DDDDDD;
  }
  &__over {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  &__over &__star {
    color: transparent;
  }
  &__over &__star.active {
    color: #f80;
  }
}
