.FormWrapper {
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.FormAccount {
  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 1.5rem;
  }
}